:root {
  --dark-green: #004B49;
  --light-green: #80D2A9;
  --yellow: #FDC435;
  --text-dark-gray: #25282B;
  --text-medium-gray: #828282;
  --white: #FFFFFF;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* every 1rem = 16px */
}

.container {
  margin: 0 auto;
  width: 1200px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 90%;
  }
  .container {
    width: 900px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90vw;
  }
}

body {
  background-color: var(--dark-green);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.yellow-bottom-line:after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--yellow);
  margin: 20px auto;
  border-radius: 4px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .f-md-col {
    flex-direction: column;
  }
}

.f-justify-between {
  justify-content: space-between;
}

.f-justify-center {
  justify-content: center;
}

.f-align-items-center {
  align-items: center;
}

.gap-30 {
  gap: 30px;
}

.gap-10 {
  gap: 10px;
}

.v-margins-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.h-margins-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.h-margins-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.block-width-s {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.column-3 {
  width: calc(100% / 3);
}

@media screen and (max-width: 1023px) {
  .column-md-1 {
    width: 100%;
  }

  .f-md-row {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .displayBlock {
    display: block;
  }
  .image-sm-none {
    display: none;
  }
}