.time {
  min-width: 200px;
}

@media screen and (max-width: 767px) {
  .time {
    margin-bottom: 10px;
    text-align: center;
    color: var(--yellow);
  }
}

.position {
  display: inline-block;
}

ul {
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

.list-bullets-inside {
  list-style-position: inside;
}

.list-style-none {
  list-style-type: none;
}