.footer {
  margin-bottom: 4rem;

  li {
    padding: 0 0.4rem;
    margin-bottom: 0;
  }
  .contact-list {
    margin-bottom: 0;

    a {
      opacity: 0.5;
      transition: all 0.5s ease;
  
      &:hover {
        opacity: 1;
      }
    }
  }
}

.text-footer {
  color: var(--light-green);
  font-size: 0.7rem;
}

.links-footer {
  color: var(--yellow);
  border-bottom: 1px solid var(--dark-green);
  transition: all 0.5s ease;

  &:hover {
    border-bottom: 1px solid var(--yellow);
  }
}